
svg {
    fill: currentColor;
}

input, button, textarea,select {
    &:focus {
        outline: none;
    }
}

a {
    cursor: pointer;
}


input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}


input::-webkit-file-upload-button {
    cursor: pointer;
}


body {
    font: 500 16px/1.5 'Baloo 2', cursive;
    background-color: var(--bg-body);
    color: var(--color-base-1);
}


.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1312px;
}
