.card {
    background: var(--color-white);
    border-radius: 8px;
}

.card--gray {
    background: var(--color-bg-2);
}

.card--gray--light{
    background: #FAFDFF;
    border: 1px solid #B9C5CA;
}
